body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Principalproyecto_files/MarcoPrincipal_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:100px;
    width:1000px;
    height:1200px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:1206px;
}

.u1 {
    position:absolute;
    left:2px;
    top:592px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Principalproyecto_files/CabeceraGreenmine_u2_normal.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:100px;
    width:1000px;
    height:121px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:121px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Principalproyecto_files/FotoUser_u4_normal.png');
}

.u4_container {
    position:absolute;
    left:999px;
    top:124px;
    width:56px;
    height:56px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:56px;
}

.u5 {
    position:absolute;
    left:2px;
    top:20px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Principalproyecto_files/CuadroDescripcionProyecto_u6_normal.png');
}

.u6_container {
    position:absolute;
    left:110px;
    top:230px;
    width:980px;
    height:120px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:126px;
}

.u7 {
    position:absolute;
    left:2px;
    top:45px;
    width:976px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:110px;
    top:621px;
    width:102px;
    height:26px;
    overflow:hidden;
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:26px;
    
}

.u9_normal {
    background-image: url('../Principalproyecto_files/BotonSprintActivo_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:26px;
    
}

.u11_normal {
    background-image: url('../Principalproyecto_files/BotonSprintInactivo_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Principalproyecto_files/GraficaProyecto_u13_normal.png');
}

.u13_container {
    position:absolute;
    left:110px;
    top:370px;
    width:980px;
    height:201px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:207px;
}

.u14 {
    position:absolute;
    left:2px;
    top:92px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:221px;
    top:621px;
    width:102px;
    height:27px;
    overflow:hidden;
}

#pd1u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:27px;
    
}

.u16_normal {
    background-image: url('../Principalproyecto_files/BotonBacklogActivo_u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:27px;
    
}

.u18_normal {
    background-image: url('../Principalproyecto_files/BotonSprintInactivo_u11_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u20 {
    position:absolute;
    left:331px;
    top:621px;
    width:102px;
    height:27px;
    overflow:hidden;
}

#pd1u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:27px;
    
}

.u21_normal {
    background-image: url('../Principalproyecto_files/BotonTareasActivo_u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:27px;
    
}

.u23_normal {
    background-image: url('../Principalproyecto_files/BotonSprintInactivo_u11_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:110px;
    top:667px;
    width:991px;
    height:551px;
    overflow:hidden;
}

#pd6u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:991px;
    height:551px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u26_normal {
    background-image: url('../Principalproyecto_files/VentBacklogPq1_u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:31px;
    width:475px;
    height:500px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:506px;
}

.u27 {
    position:absolute;
    left:2px;
    top:242px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Principalproyecto_files/VentTareasPq2_u28_normal.png');
}

.u28_container {
    position:absolute;
    left:485px;
    top:0px;
    width:475px;
    height:531px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:537px;
}

.u29 {
    position:absolute;
    left:2px;
    top:258px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Principalproyecto_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:1px;
    width:475px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u32 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:453px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Principalproyecto_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:486px;
    top:1px;
    width:475px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u35 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:939px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:991px;
    height:551px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u37_normal {
    background-image: url('../Principalproyecto_files/VentSprintPq1_u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:475px;
    height:531px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:537px;
}

.u38 {
    position:absolute;
    left:2px;
    top:258px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Principalproyecto_files/VentTareasPq2_u28_normal.png');
}

.u39_container {
    position:absolute;
    left:485px;
    top:0px;
    width:475px;
    height:531px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:537px;
}

.u40 {
    position:absolute;
    left:2px;
    top:258px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Principalproyecto_files/u34_normal.png');
}

.u41_container {
    position:absolute;
    left:486px;
    top:1px;
    width:475px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u42 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:939px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Principalproyecto_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:1px;
    width:475px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u45 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:453px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:991px;
    height:551px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u47_normal {
    background-image: url('../Principalproyecto_files/VentSprintPq1_u37_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:475px;
    height:531px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:537px;
}

.u48 {
    position:absolute;
    left:2px;
    top:258px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Principalproyecto_files/VentBacklogPq1_u26_normal.png');
}

.u49_container {
    position:absolute;
    left:485px;
    top:31px;
    width:475px;
    height:500px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:506px;
}

.u50 {
    position:absolute;
    left:2px;
    top:242px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Principalproyecto_files/u31_normal.png');
}

.u52_container {
    position:absolute;
    left:485px;
    top:1px;
    width:475px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u53 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:938px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Principalproyecto_files/u44_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:1px;
    width:475px;
    height:30px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u56 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:453px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:991px;
    height:551px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u58_normal {
    background-image: url('../Principalproyecto_files/VentTareasGrande_u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:531px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:537px;
}

.u59 {
    position:absolute;
    left:2px;
    top:258px;
    width:976px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:991px;
    height:551px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u60_normal {
    background-image: url('../Principalproyecto_files/VentBacklogGrande_u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:32px;
    width:980px;
    height:500px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:506px;
}

.u61 {
    position:absolute;
    left:2px;
    top:242px;
    width:976px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Principalproyecto_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:1px;
    width:980px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:36px;
}

.u64 {
    position:absolute;
    left:3px;
    top:3px;
    width:975px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:961px;
    top:8px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:991px;
    height:551px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u66_normal {
    background-image: url('../Principalproyecto_files/VentSprintGrande_u66_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:531px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:537px;
}

.u67 {
    position:absolute;
    left:2px;
    top:258px;
    width:976px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:991px;
    height:551px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u68_normal {
    background-image: url('../Principalproyecto_files/VentBacklogPq1_u26_normal.png');
}

.u68_container {
    position:absolute;
    left:485px;
    top:31px;
    width:475px;
    height:500px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:506px;
}

.u69 {
    position:absolute;
    left:2px;
    top:242px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Principalproyecto_files/VentTareasPq2_u28_normal.png');
}

.u70_container {
    position:absolute;
    left:970px;
    top:0px;
    width:475px;
    height:531px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:537px;
}

.u71 {
    position:absolute;
    left:2px;
    top:258px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Principalproyecto_files/VentSprintPq1_u37_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:475px;
    height:531px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:537px;
}

.u73 {
    position:absolute;
    left:2px;
    top:258px;
    width:471px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Principalproyecto_files/u31_normal.png');
}

.u75_container {
    position:absolute;
    left:485px;
    top:1px;
    width:475px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u76 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:938px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Principalproyecto_files/u34_normal.png');
}

.u78_container {
    position:absolute;
    left:970px;
    top:1px;
    width:475px;
    height:30px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u79 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1423px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Principalproyecto_files/u44_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:1px;
    width:475px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:481px;
    height:36px;
}

.u82 {
    position:absolute;
    left:3px;
    top:3px;
    width:470px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:453px;
    top:7px;
    width:16px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../Principalproyecto_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:500px;
}

.u84 {
    position:absolute;
    left:1095px;
    top:655px;
    width:10px;
    height:500px;
    
}

.u85_normal {
    background-image: url('../Principalproyecto_files/BotonSprintInactivo_u85_normal.png');
}

.u85_container {
    position:absolute;
    left:772px;
    top:621px;
    width:100px;
    height:25px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u86 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Principalproyecto_files/BotonSprintInactivo_u85_normal.png');
}

.u87_container {
    position:absolute;
    left:661px;
    top:621px;
    width:100px;
    height:25px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u88 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Principalproyecto_files/BotonSprintInactivo_u11_normal.png');
}

.u89_container {
    position:absolute;
    left:442px;
    top:621px;
    width:100px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u90 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Principalproyecto_files/BotonSprintInactivo_u91_normal.png');
}

.u91_container {
    position:absolute;
    left:990px;
    top:621px;
    width:100px;
    height:25px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u92 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Principalproyecto_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:149px;
    top:392px;
    width:901px;
    height:136px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:901px;
    height:136px;
}

.u94 {
    position:absolute;
    left:2px;
    top:60px;
    width:897px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Principalproyecto_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:110px;
    top:546px;
    width:980px;
    height:25px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:31px;
}

.u96 {
    position:absolute;
    left:30px;
    top:4px;
    width:948px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:119px;
    top:560px;
    width:14px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Principalproyecto_files/u95_normal.png');
}

.u98_container {
    position:absolute;
    left:110px;
    top:325px;
    width:980px;
    height:25px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:31px;
}

.u99 {
    position:absolute;
    left:30px;
    top:4px;
    width:948px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:119px;
    top:329px;
    width:14px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

